<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Snake game. Control snake with arrows, eat food and grow"/>
    <meta name="keywords" content="html5, snake"/>
    <meta name="robots" content="index, follow"/>
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <script src="../static/js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>
    <script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
    <script src="../static/snake/servers.js" th:src="@{/snake/servers.js}"></script>

    <title>Snake at A.s</title>

    <style>
        body {
            padding: 0;
            margin: 0;
            overflow: hidden;
        }
        #canvas {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
        }
    </style>

    <link href='http://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'/>
    <link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>

</head>
<body>
<div id="overlays" style="position: absolute; left: 0; right: 0; top: 0; bottom: 0; background-color: rgba(0,0,0,0.5); z-index: 2;">
    <div id="helloDialog" style="width: 350px; background-color: #FFFFFF; margin: 100px auto; border-radius: 15px; padding: 5px 15px 5px 15px;">
        <form role="form" onsubmit="game.join(document.getElementById('nick').value); return false;">
            <div class="form-group">
                <h2 style="text-align: center">Hello</h2>
            </div>

            <div class="form-group">
                <p>Type your nick or leave it empty:</p>
                <select class="form-control" id="droplist" title=""></select>
                <br/>
                <input id="nick" class="form-control" placeholder="Nick" maxlength="14"/>
            </div>

            <div class="form-group">
                <input type="button" id="join" onclick="game.join($('#nick').val()); return false;" class="btn btn-block btn-primary" value="Play"/>
            </div>
            <script type="text/javascript">
                servers.getNames().forEach(function(item) {
                    $('#droplist').append('<option>' + item + '</option>');
                });
                $(function() {
                    var updateServer = function(){
                        var selected = $(this).find("option:selected").index();
                        game.changeServer(servers.getServer(selected));
                    };
                    $('.form-control').on('change', updateServer);
                });
            </script>
        </form>

        <hr />

        <span class="text-muted" style="text-align: center">Controls: Use arrows to control snake.<br/>Press escape to close game</span>

        <hr />

        <!--Google ad place-->

        <hr style="margin-bottom: 7px; "/>

        <div style="margin-bottom: 5px; float: left; line-height: 32px; margin-left: 6px; height: 32px;"><a class="text-muted">123</a></div>
    </div>
</div>

<canvas id="canvas" width="800" height="600"></canvas>
<script src="../static/snake/game.js" th:src="@{/snake/game.js}"></script>

</body>
</html>
